<div class="mt-4">

   <form method="POST" action="/courses/store">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Tên Khóa Học:</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Chi Tiết:</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Video Id:</label>
    <input type="text" class="form-control" id="videoid" name="videoid">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Trình Độ:</label>
    <input type="text" class="form-control" id="level" name="level">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>