<div class="container">
<form method="POST" action="search">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Tìm kiếm</label>
    <input type="text" name = "q" class="form-control" id="email" placeholder="Enter email" name="email">
  </div>
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Giới Tính</label>
    <select name="gender" id="">
      <option value="">--Giới Tính--</option>
      <option value="male">Nam</option>
      <option value="female">Nữ</option>

    </select>
  </div>
  <button type="submit" class="btn btn-success">OK</button>
</form>
</div>